{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>myapp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap.min.css' %}">


  <link href="{% static 'core/bootstrap/three/css/bootstrap.min.css' %}" rel="stylesheet">


<link href="{% static 'core/bootstrap/four/css/bootstrap.min.css' %}" rel="stylesheet">

  <style type="text/css">
    #bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: lightblue; color:black">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
  <a class="nav-link" href="{% url 'index' %}" style="color: black ; font-size: 20px; font-weight: bold;">KISHAN DONGARE <br><span class="sr-only">(current)</span></a>
 
 <a style="font-weight: bold">Blogging The Real World</a>
      </li>
    </ul>
    <span class="navbar-text">
    </span>

  <a class="nav-link" href="{% url 'register' %}" style="color: black; font-size: 20px; font-weight: bold;">Register<span class="sr-only"></span></a>

  <a class="nav-link" href="{% url 'index' %}" style="color: black; font-size: 20px; font-weight: bold;">Login<span class="sr-only"></span></a>

  </div>
</nav>

<body>


{% block body %}
{% endblock %}

<div class="fixed-bottom" id="footer">
</div>

</body>
</html>
