{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 

  <link href="{% static 'core/bootstrap/three/css/bootstrap.min.css' %}" rel="stylesheet">


<link href="{% static 'core/bootstrap/four/css/bootstrap.min.css' %}" rel="stylesheet">

  <style type="text/css">
    #bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: lightblue;color: black>
        <a class="navbar-brand" href="{% url 'welcome' %}" style="color: black">App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'welcome' %}" style="color: black">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'welcome' %}" style="color: black">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'feed' %}" style="color: black">Feeds</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>

        
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
          </ul>
      
       <form action="{% url 'search' %}" class="d-flex" method="GET" style="align-content: right;">
                    <input name="q" class="form-control me-2" type="search" placeholder="FInd A Friend Here" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" style="color: black; background-color: white;">Search</button>
                  </form>

                  <ul class="navbar-nav ml-auto ml-md-0">

                    <li class="nav-item">
                        <a class="nav-link" href="{%  url 'logout' %}" style="color: black">Logout</a>
                      </li>

                </ul>
      
        </div>
      </nav>



<body id="bg">

{% block body %}
{% endblock %}

<style>
#footer{
   position: fixed;
   left: 0;
   bottom: 0;
   height: 60px;
   width: 100%;
   background-color: #184a45;
   color: #fcf66a;
   text-align: center;
}
</style>

</div>

</body>
</html>
